@import "../scss/styles.scss";
.hotel-view {
  flex: 1;
}
.detail {
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--border);
  font-size: 1.4rem;

  @include responsive(tab-port) {
    padding: 3rem;
  }

  @include responsive(phone) {
    flex-direction: column;
  }
}
.cta {
  padding: 3.5rem 0;
  text-align: center;

  @include responsive(tab-port) {
    padding: 2.5rem 0;
  }

  &__book-now {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
  }
}
